
body{
    background-color: #F3D0D7 ;
}

h1 {
    color: #D20062;
    font-family: "Jersey 20", sans-serif;
    text-align:  center;
    font-size: 50px;

}

nav{
    background-color: #D895DA;
}

img{
    width: 115px;
    height: 115x;
    float: left;
    display: flex;
}

h3{
    color: #41B06E;
    font-family: "Jersey 20", sans-serif;
    font-size: 30px;
}

a{
    color: #D20062;
}

li{
    color: #1C1678;
}

p{
    font-size: 20px;
    text-align: justify;
}